.product-card {
  max-width: 600px;
  background: white;
  border: 2px solid #f2f2f2;
  padding: 0.5rem;
  min-width: 250px;
  border-radius: 10px;
}
.product-card > p {
  text-align: left;
}
.product-card > img {
  max-width: 600px;
  max-height: 250px;
}
p.brand {
  color: grey;
}
