.product-card {
  max-width: 600px;
  background: white;
  border: 2px solid #f2f2f2;
  padding: 0.5rem;
  min-width: 250px;
  border-radius: 10px;
}
.product-card > p {
  text-align: left;
}
.product-card > img {
  max-width: 600px;
  max-height: 250px;
}
p.brand {
  color: grey;
}
.addToCart {
  padding: 0.25rem 2rem;
  margin-top: 20px;
  background: #ff9f00;
  border: none;
  color: white;
  font-weight: bolder;
  box-shadow: 1px 2px 2px #000;
  transition: transform 0.2s ease;
}
.addToCart:hover {
  cursor: pointer;
  transform: scale(1.1);
}
