.productList-container {
  background: #fff;
  padding: 0.25rem;
}

.products-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem;
  column-gap: 2rem;
}
